<!DOCTYPE html>
<html>
<head>
  <title>PerfectPet</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <%= stylesheet_link_tag    'css_reset', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">PerfectPet</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Inspiration Feed", feed_path%></li>
      <li><%= link_to "Dashboard", dashboard_path %></li>
      <% if session[:user_id] %>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>

<% flash.each do |type, msg| %>
  <%= content_tag :span, sanitize(msg) %>
<% end %>

<%= yield %>

<!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js">
 </script>
</body>
</html>
